<template name="infoForm">
  <form id="enterBookDetails" name="enterBookDetails">
    <div class="input-group">
      <label>Book Title</label>
      <input type="text" name="bookTitle" value="" id="bookTitle"/>
    </div>
    <div class="input-group">
      <label>Author Name</label>
      <input type="text" name="authorName" value="" id="authorName"/>
    </div>
    <div class="input-group">
      <label>Genre</label>
      <input type="text" name="genre" value="" id="genre"/>
    </div>
    <button type="submit" name="submit" value="" class="btn btn-primary ">Enter Book Details</button>
  </form>
</template>
